<h1>{{'title' | translate}}</h1>
<select #langSelect (change)="translate.use(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()" [value]="lang"
        [selected]="lang === translate.currentLang">{{  lang| translate }}</option>
</select>
<router-outlet></router-outlet>
<!-- <h1>Психологическое тестирование</h1>
<h2>Узнать результаты</h2>
Имя<br>
<input type="text"><br>
Фамилия<br>
<input type="text"><br>
Отчество<br>
<input type="text"><br>
Должность<br>
<input type="text"><br>
<button class="sub">Узнать</button>
<div class="borderh">
Разработчик: Корчагин Алексе;

Телефон: 8-930-777-77-77
</div> -->