$sectionHeaderColor: rgb(128, 238, 165);
$formColor: blue;
$iconPlusColor: #5f5f5f;
$borderColor: black;
$iconTrashColor:#853e3e;
$iconEditColor:#3f7597;
$noteItemColor:#585757;
$clearColor:white;
$menuColor:rgb(185, 58, 111);