.form-add-section{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 100px;
    width: 320px;
    border: 1px solid $borderColor;
    padding: 40px;
   
    background-color: $clearColor;
   
}